<html ng-app="EAT">
  <head>
    <title>EAT</title>
    
  </head>
  <body>
  	<div class="nav">
  	  <h3><a ui-sref="search">Home</a></h3>
  	  <h3><a ui-sref="likes">Likes</a></h3>
  	  <h3><a ui-sref="login">Login</a></h3>
  	  <h3><a ui-sref="signup">Sign Up</a></h3>
  	</div>
    <div ng-controller="SearchController">
  <input ng-model="food.type" placeholder="Whatcha in the mood for?"/>
  <br></br>
  <h3>{{dollaDollaBillz}}</h3><input ng-change="moMoney()" type="range" min="1" max="4" step="1" value="2" ng-model="food.cost"/>
  <br></br>
  <h3>{{food.distance}} miles</h3><input type="range" min="0" max="5" step="0.1" value="2.5" ng-model="food.distance"/>
  <br></br>

  <button ng-click="feedMe()">FEED ME</button>
</div>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- // <script src="../bower_components/ngFx/dist/ngFx.js"></script> -->
    <script src="app.js"></script>
  </body>
</html>