<!-- login.html -->

<div id='loginView'>
  <h1>Log In</h1>
  <form name="loginForm" ng-submit='login()'>
    <input type='text'ng-model='user.username'>
    <input type="password" ng-model='user.password'>
    <button>login</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>


<!-- <div ng-controller="AuthController">
  <input ng-model="user.username" placeholder="Enter your username!"/>
  <input ng-model="user.password" placeholder="Enter your password!"/>
  <button ng-click="sendLogin()">LOG IN</button>
</div> -->

<!-- catherine's version -->
<!-- <div ng-controller="AuthController" id="loginView">
  <input type="text" ng-model="user.username" placeholder="Enter your username"/>
  <input type="text" ng-model="user.password" placeholder="Enter your password"/>
  <button ng-click="sendLogin()">Log In</button>
</div> -->
