<!-- searchResults.html -->
<!-- move this all into another div for controller tagging -->

<div ng-controller="ResultsController" id="resultsView">
	<div ng-repeat="foodPlace in currentBucket" class="singleResult">
		<div class="resultImgAndAddress">
		  <img height="100" width="100" source="EAT" src="{{foodPlace.image_url}}">
		  <div class="resultsAddressAndStars">
			  <h2 class="restaurantName">{{foodPlace.name}}</h2>
			  <h3 ng-repeat="row in foodPlace.address">{{row}}</h3>
	  		<h2 class="resultRating">{{foodPlace.rating}} Stars</h2>
		  </div>
		</div>
		<span class="likeFeature">
		  <p><input type="checkbox" ng-model="likes[$index]">Like</p>
		  <p><input type="checkbox" ng-model="dislikes[$index]">Dislike</p>
	  	<button ng-click="tellUs(currentBucket[$index], $index)">Submit</button>
		</div>
	</span>
	  <button ng-click="changeBucket()" id="refreshRestaurantsButton">Next three</button>
</div>