<!-- searchResults.html -->
<!-- move this all into another div for controller tagging -->

<div ng-controller="SearchController">
	<div ng-repeat="foodPlace in currentBucket">
	  <img height="100" width="100" source="EAT" src="{{foodPlace.image_url}}">
	  <h2>{{foodPlace.name}}</h2>
	  <h2>{{foodPlace.rating}} Stars</h2>
	  <h3 ng-repeat="row in foodPlace.address">{{row}}</h3>
	  <h3><input type="checkbox" ng-model="like"> Add to Likes</h3>
	  <h3><input type="checkbox" ng-model="dislike"> Add to Dislikes</h3>
	  <button ng-click="tellUs({{foodPlace}})">TELL US!</button>
	</div>
	  <button ng-click="changeBucket()">SEE MORE</button>
</div>